.vscode/
.VSCodeCounter/
.idea/

__pycache__/
go/

*~/
build/
install/
release/
output/
bin/
log/
model/
ncu/
nsys/
roofline/
ptx/
sass/
tmp/
temp/

*.o
*.so
*.so.*
*.out
*.log
*.bak
*.pkz

setting.h
.config*
